#btn {
	-fx-background-color:#ffa319;
	-fx-border-color:#704309;
	-fx-effect: innershadow(gaussian, #402605, 10, 0.5, 2, 2);
	-fx-effect: dropshadow(gaussian, #402605, 10, 0.5, 2, 2);
	-fx-font-family:"hooge 05_53";
	-fx-font-size:14;
	

}
#text {
	-fx-font-family:"hooge 05_53";
	-fx-font-size:40;
}
#root {
	-fx-border-color:#704309;
	-fx-effect: innershadow(gaussian, rgba(0,0,0,2), 10, 0.5, 2, 2);
}
	
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */